<p>Are you sure you want to delete me?</p>
{{bs-button defaultText="Yes" type="danger" icon="glyphicon glyphicon-ok" action=(action 'deleteActivity') }}
{{bs-button defaultText="No" type="default" icon="glyphicon glyphicon-remove" action=(action 'cancelDelete') }}