{{#forms/are-you-sure ok=(action 'delete' model) cancel=(action 'cancel' model)}}
  <p>Are you sure you want to delete link from
  <em>{{ model.previousActivity.name }}</em> to
  <em>{{ model.nextActivity.name }}</em>?</p>
{{/forms/are-you-sure}}
