{{forms.link-form model=model saved=(action "saved") canceled=(action "canceled") delete=(action "delete")}}

{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#marker-layer location=emberConfLocation}}
    <h3>The Oregon Convention Center</h3>
    777 NE Martin Luther King Jr Blvd<br>
    Portland, OR 97232
  {{/marker-layer}}

  {{#marker-layer location=hotel}}
    <h3>Hotel</h3>
  {{/marker-layer}}
{{/leaflet-map}}
