{{#unless isEditing}}
  <div class="activity-row-summary">{{activity-outliner.summary-text model=model action=(action 'setIsEditing')}}</div>
{{else}}
  {{forms.activity-form model=model allowParent=false}}
{{/unless}}
{{#if model.children}}
  {{activity-outliner/activity-list model=model.children}}
{{/if}}
