{{#layout/page-header}}<!-- put secondary stuff here -->{{/layout/page-header}}
<div id="flash">
  <div class="container-fluid">
    {{#if (gt flashService.queue.length 0) }}
      {{#each flashService.queue as |flash|}}
        {{#bs-alert type=flash.type}}{{flash.message}}{{/bs-alert}}
      {{/each}}
    {{/if}}
  </div>
</div>
{{outlet}}
