<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Form Components</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label>Activity Form w/ Time Machine</label>
      {{forms/activity-form model=model}}
    </div>
  </div>
</div>
{{outlet}}
